*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-bottom: 1.5rem;
    justify-content: center;
}

button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: #e0e0e0;
}

#result, #score {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0.5rem;
}

#result {
    color: #333;
    font-weight: bold;
}

#score {
    color: #555;
    margin-top: 1rem;
}